@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-white bg-gradient-to-br from-purple-400 to-purple-700
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: .04;
    z-index: 1000;
    pointer-events: none;
    background: url(/noise.gif) ;
}